div>div {
    box-sizing: border-box;
    border: 1px solid black;
    width: 200px;
    text-align: center;
    float: left;
}

.tabela {
    background-color: orange;
    width: 400px;
    color: white;
}

#caixa {
    width: 400px;
    box-sizing: content-box;
}