body{
    background-color: grey;
}
.container{
    background-color: white;
    border:3px solid black;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    margin-top: 70px;
}
#galo{
    padding-top: 10px;
    padding-left:30px;
    width: 25%;
    height: 25%;
}

.container h1{
    padding-top: 10px;
    padding-left: 30px;
    color:rgb(143, 7, 7);
    font-size: 50px;
}
.top{
    display: flex;
}
.tamanho{
    padding-left: 30px;
    padding-top: 30px;
    display:flex;
    gap:20px;
}
.tamanho div{
    margin-top: 15px;
    border:1px solid black;
    width: 100px;
    height: 50%;
}
.tamanho p{
    color:rgb(143, 7, 7);
}
.jogada{
    padding-left: 30px;
    padding-top: 5px;

}
.jogada p{
    
    color:rgb(143, 7, 7);
}
.jogada div{
    border:1px solid black;
    height: 15px;
    width: 540px;
}
.tabuleiro{
    margin-left: 190px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: grid;
    
    border:4px solid red;
    width: fit-content;
    height: fit-content;
}

.quadrado{
    height: 80px;
    width: 80px;
    background-color: black;
    border:1px solid rgb(251, 255, 0);
}

.input{
    height: 15px;
    width: 35px;
}
.simbolo{
    width: 80px;
    height: 80px;
    background-size: cover;
}