body{
    margin:0;
    background-color: lavenderblush;
}


h1{
    background-color: cornflowerblue;
    margin:0;
}
.container a{
    padding-left: 50px;
    text-decoration: none;
    color:darkred
}
ul{
    list-style-type: none;
}