#listaSkills{
    list-style-type: circle;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
}
#containerPortofolio{
    display:grid;
    grid-template-columns: auto auto;
}